.contact-section {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;

    padding-bottom: 100px;
}
.contact-section div{
    margin: 0  0 20px 0;
}

.contact-item {
    margin-bottom: 15px;
}

.contact-title {
    font-weight: bold;
}

.contacts_mainblock {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.map-mini{
 
}
.map-mini iframe{
    width: 750px;
    height: 550px;

}
.contact_info{
    margin: auto 0px;
}
.contact_info p{
    margin-left: 0px;
}
@media (max-width: 768px) {
    .contacts_mainblock{
       flex-direction: column; 
    }    
}