body{
    background-color: transparent;
}
header{
    margin: auto;
    width: 1500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-family: 'Montserrat';
    z-index: 1;
    background: transparent;
    border-bottom: 1px solid #ffffff60;
}
.main-header--alt{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3 ease;
    z-index: 1000;
    color: black;
}
header img{
    color: white;
} 
.HeaderDiv{
    display: flex;
}
.menu_items{
    display: flex;
}
.menu_items p{
    margin: 20px;
}
.scroll-header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transform: translateY(-100%);
    z-index: 1111;
    width: 100%;
    color: black;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    height: 100px;
    backdrop-filter: blur(8px);
}
.scroll-header.visible{
    transform: translateY(0);
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3 ease;
    z-index: 1000;
}
.contact-data{
    display: flex;
    align-items: center;
}
.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px 15px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 100;
  pointer-events: none;
  color: black;
  width: 350px;
}
.dropdown li{
    margin: 15px;
}
.dropdown-container:hover .dropdown,
.dropdown-container.active .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}